.LoginBox {
	width: 600px;
	height: 280px;
	margin: 100px auto;
	padding-top: 20px;
	background: #fff;
	box-shadow: 0 0 8px rgba(0,0,0,.1);
  .LoginInput {
    width: 300px;
    margin-left: 150px;
    margin-top: 10px;
  }
  .LoginButton {
    width: 100px;
    margin-left: 250px;
    margin-top: 20px;
  }
  .verify {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
