.list {
  display: flex;
  border-bottom: 1px solid #dcdcdc;
  margin-right: 10px;
    color: #b4b4b4;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    div {
      margin-left: 20px;
    }
}
